In [2]:
import pandas as pd

df = pd.read_csv("data-esp8266-12776407-2021-11-09.csv", sep=";")

In [3]:
df.head()

,Time,durP1,ratioP1,P1,durP2,ratioP2,P2,SDS_P1,SDS_P2,PMS_P1,...,BMP_pressure,BME280_temperature,BME280_humidity,BME280_pressure,Samples,Min_cycle,Max_cycle,Signal,HPM_P1,HPM_P2
0,2021/11/09 00:01:50,NaN,NaN,NaN,NaN,NaN,NaN,4.70,1.00,NaN,...,NaN,NaN,NaN,NaN,5095308,28,20510,-48,NaN,NaN
1,2021/11/09 00:04:15,NaN,NaN,NaN,NaN,NaN,NaN,4.13,1.00,NaN,...,NaN,NaN,NaN,NaN,5112228,27,20351,-50,NaN,NaN
2,2021/11/09 00:06:43,NaN,NaN,NaN,NaN,NaN,NaN,4.25,1.00,NaN,...,NaN,NaN,NaN,NaN,5112098,27,20049,-51,NaN,NaN
3,2021/11/09 00:09:15,NaN,NaN,NaN,NaN,NaN,NaN,2.47,0.80,NaN,...,NaN,NaN,NaN,NaN,5110748,28,20394,-50,NaN,NaN
4,2021/11/09 00:11:40,NaN,NaN,NaN,NaN,NaN,NaN,2.60,0.88,NaN,...,NaN,NaN,NaN,NaN,5115134,27,20505,-52,NaN,NaN

In [8]:
df.drop(columns=['durP1', 'ratioP1'])

,Time,P1,durP2,ratioP2,P2,SDS_P1,SDS_P2,PMS_P1,PMS_P2,Temp,...,BMP_pressure,BME280_temperature,BME280_humidity,BME280_pressure,Samples,Min_cycle,Max_cycle,Signal,HPM_P1,HPM_P2
0,2021/11/09 00:01:50,NaN,NaN,NaN,NaN,4.70,1.00,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,5095308,28,20510,-48,NaN,NaN
1,2021/11/09 00:04:15,NaN,NaN,NaN,NaN,4.13,1.00,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,5112228,27,20351,-50,NaN,NaN
2,2021/11/09 00:06:43,NaN,NaN,NaN,NaN,4.25,1.00,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,5112098,27,20049,-51,NaN,NaN
3,2021/11/09 00:09:15,NaN,NaN,NaN,NaN,2.47,0.80,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,5110748,28,20394,-50,NaN,NaN
4,2021/11/09 00:11:40,NaN,NaN,NaN,NaN,2.60,0.88,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,5115134,27,20505,-52,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2021/11/09 12:46:35,NaN,NaN,NaN,NaN,4.60,1.90,NaN,NaN,23.8,...,NaN,NaN,NaN,NaN,5113990,28,20031,-46,NaN,NaN
260,2021/11/09 12:49:02,NaN,NaN,NaN,NaN,5.10,1.73,NaN,NaN,23.8,...,NaN,NaN,NaN,NaN,5113637,28,20039,-49,NaN,NaN
261,2021/11/09 12:51:39,NaN,NaN,NaN,NaN,5.35,2.05,NaN,NaN,23.8,...,NaN,NaN,NaN,NaN,5119771,27,20019,-50,NaN,NaN
262,2021/11/09 12:54:09,NaN,NaN,NaN,NaN,3.47,1.55,NaN,NaN,23.8,...,NaN,NaN,NaN,NaN,5098328,27,20056,-48,NaN,NaN
263,2021/11/09 12:56:37,NaN,NaN,NaN,NaN,5.28,1.80,NaN,NaN,23.8,...,NaN,NaN,NaN,NaN,5126340,27,20022,-49,NaN,NaN

In [9]:
df.to_csv("export.csv", sep=",")